<nav aria-label="Page navigation example" style="margin: 0 auto; padding-top: 30px; margin-top: 15%;">
  <ul class="pagination" style="justify-content: center;">
    <li class="page-item"><a><%= link_to "1",index_path , class:"page-link"%></a></li>
    <li class="page-item"><a><%= link_to "2",charts_path , class:"page-link"%></a></li>
  </ul>
</nav>
